// Variables

// Color pointers
@background-color: @bg-color;
@nav-bg: @para-green;
@nav-border: @sea-shell;
@header-font-color: @ebony-clay;
@main-border-color: @border-real;
@main-font-color: @shuttle-gray;

// Color Vars
@bg-color: #02848e;
@para-green: #a4bf52;
@sea-shell: #f1f1f1;
@ebony-clay: #f5f749;
@border-real: #dee2e6;
@porcelain: rgb(246, 246, 248);
@shuttle-gray: #5E6164;


// Mobile var
@phone: ~"(max-width:500px)";
@tablet: ~"(max-width:999px)";
